
<div class="container" >
    <h1>Register form</h1>
    <div class="form-group">
      <label>Email:</label>
      <input [(ngModel)] = "email" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>FullName:</label>
        <input type="text" class="form-control" #fullNameRef>
    </div>
    <button class="btn btn-success" (click) = "handleSubmit(fullNameRef.value)" >Submit</button>

    <br/>
    <br/>
    <p class="font-weight-bold" >Email: <span>{{email}}</span></p>
    <p class="font-weight-bold" >FullName: <span>{{fullName}}</span></p>
</div>
