<div class="video-grid-single-page-agileits">
    <div data-video="f2Z65fobH2I" id="video"> <img src="./assets/imgBTLayout/11.jpg" alt="" class="img-responsive w-100">
        <div id="play"></div>
    </div>
</div>

<div class="player-text px-0 text-center" style="width: 100%; color: white; background-color: black;">
        <p class="fexi_header w-100">Force 2</p>
        <p class="fexi_header_para"><span class="conjuring_w3">Story Line<label>:</label></span>Presenting the official
            trailer of Force 2 starring John Abraham, Sonakshi Sinha and Tahir Raj Bhasin

            A film by Abhinay Deo, Produced by Vipul Amrutlal Shah, JA entertainment Pvt. Ltd....</p>
        <p class="fexi_header_para"><span>Release On<label>:</label></span>Sep 29, 2016 </p>
        <p class="fexi_header_para">
            <span>Genres<label>:</label> </span>
            <a href="genre.html">Drama</a> |
            <a href="genre.html">Adventure</a> |
            <a href="genre.html">Family</a>
        </p>
        <p class="fexi_header_para fexi_header_para1"><span>Star Rating<label>:</label></span>
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
        </p>
</div>