<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cybersoft</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>


                <li *ngIf="isLogin" class="nav-item d-flex">
                    <p class="nav-link font-weight-bold mb-0">Hello: {{name}}</p>
                    <button class="nav-link border-0 " href="#" (click) = "isLogin = false" >Logout</button>
                </li>

                <li *ngIf="!isLogin" class="nav-item">
                    <button class="nav-link border-0" href="#" data-toggle="modal" data-target="#exampleModal"
                    >Login</button>
                </li>

            </ul>
        </div>
    </div>
</nav>


<!-- Modal -->
<div class="fade modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-body">
                <div class="form-group">
                    <label>UserName</label>
                    <input  type="text" class="form-control" #useNameRef />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" #passworfRef />
                </div>
            </form>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click) = "handleChangeLogin(useNameRef.value,passworfRef.value )">Login</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>