<app-item-max class="col-5"></app-item-max>
<div class="col-7">
    <div class="row">
        <app-item-min class="col-3"></app-item-min>
        <app-item-min class="col-3"></app-item-min>
        <app-item-min class="col-3"></app-item-min>
        <app-item-min class="col-3"></app-item-min>
        <div class="row mt-4">
            <app-item-min class="col-3"></app-item-min>
            <app-item-min class="col-3"></app-item-min>
            <app-item-min class="col-3"></app-item-min>
            <app-item-min class="col-3"></app-item-min>
        </div>

    </div>
</div>