<!-- <h1 class="text-success">Hello Đỗ Phát Tài</h1> -->
<!-- <app-demo></app-demo> -->

<!-- Bài Tập 1 -->
<!-- <app-header></app-header>
<div class="d-flex" >
      <app-content class="w-75"></app-content>
      <app-sidebar class="w-25" ></app-sidebar>
</div>
<app-footer></app-footer> -->


<!-- Bài Tập 2 -->
<!-- <app-baitap2></app-baitap2> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-baitap4></app-baitap4> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-attribute-directives></app-attribute-directives> -->
<!-- <app-baitaplayout></app-baitaplayout> -->
<!-- <app-baitap5></app-baitap5> -->
<!-- <app-baitap6></app-baitap6> -->

<!-- Video Lý Thuyết anh Hiếu -->
<!-- <app-nhap-structural-directive></app-nhap-structural-directive> -->
<!-- <app-header-trangchu></app-header-trangchu> -->


<!-- Vd ng-content -->
<!-- <app-button>
      Submit
</app-button> -->

<!-- <app-card>
      <p slot = "header" >CYBERSOFT</p>
      <div slot = "body" >
            <p>Đỗ Phát Tài</p>
            <p>FE54</p>
      </div>
      <button class="btn btn-success" slot = "footer" > 
            Đăng Ký
      </button>
</app-card> -->

<!-- <app-card>
      <p slot = "header" >CYBERSOFT</p>
      <div slot = "body" >
            <p>Chi Kami</p>
            <p>FE55</p>
      </div>
      <button class="btn btn-success" slot = "footer" > 
            Đăng Ký
      </button>
</app-card> -->

<!-- CustomDirective -->
<!-- <p appNhapHightlight  >HighLight Directive</p> -->

<!-- <app-interaction></app-interaction> -->

<!-- <app-baitap8></app-baitap8> -->

<!-- <app-baitap7></app-baitap7> -->


<router-outlet></router-outlet>