<div class="w3l-movie-gride-agile">
    <a href="single.html" class="hvr-sweep-to-bottom"><img src="./assets/imgBTLayout/m1.jpg" style="width: 100%;"
            title="Movies Pro" class="img-responsive" alt=" ">

    </a>
    <div class="mid-1 agileits_w3layouts_mid_1_home text-center mt-0" style="background-color: #ededf1">
        <div class="w3l-movie-text">
            <h6><a href="single.html">Swiss Army Man </a></h6>
        </div>
        <div class="mid-2 agile_mid_2_home d-flex ">
            <p class="ml-2">2016</p>
            <div class="block-stars ml-auto mr-2">
                <ul class="w3l-ratings d-flex ml-auto" style="list-style: none;">
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="far fa-star"></i>
                        </a></li>
                    <li><a href="#"><i class="far fa-star"></i>
                        </a></li>
                    <li><a href="#"><i class="far fa-star"></i>
                        </a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>